<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SC40-V3-E.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SC40-V3-N.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SC40-V3-W Watch App Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SC40-V3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06596E762EA27E7E004B8BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06596EA92EA27EC5004B8BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06596EB52EA27EC7004B8BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06596EBF2EA27EC7004B8BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06596ED82EA27F12004B8BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06596EEB2EA27F54004B8BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
