<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SC40-V3-I.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SC40-V3-N.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SC40-V3-Rebuild.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SC40-V3-W Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>064B8C4A2EA179C7006BFB96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>064B8C612EA179FF006BFB96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>064B8C902EA17A67006BFB96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>064B8CA42EA17A83006BFB96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
